html, body {
  height: 100%;
  width: 100%;
}

.limparCarrinho {width: 20%;
  height: 20%;
  border: 2px solid black;
  margin: 10px;
  padding: 10px 20px;

  border-radius: 50px;
  background-color: white;
  color: black;
  
  }

@media(max-width: 1000px ){
.limparCarrinho {
  width: 20%;
  height: 20%;
  border: 2px solid black;
  margin: 0px;
  padding: 10px 20px;

  border-radius: 50px;
  background-color: white;
  color: black;
  }
  }


.FinalizarCompra {
  border: 2px solid black;
  margin: 0px;
  padding: 10px 20px;

  border-radius: 50px;
  background-color: black;
  color: white;
  
  }



row{
  margin: 30px;
}

.meio{
  margin: 30px;
}

.button-scroll{ 
  border: 2px solid black;
  margin: 10px 30px;
  padding: 10px 20px;

  border-radius: 1000%;
  background-color: black;
  color: white;

  }

.button-scroll:hover{
box-shadow: 0px 0px 4px #000;

  }

